{%- liquid
  assign heading = block.settings.heading
  assign content = block.settings.content
  assign collapsible_page = block.settings.page
-%}
<details class="collapsible-row" is="collapsible-row">
  <summary class="collapsible-row__summary">
    <div class="collapsible-heading">{{- heading | default: page.title -}}</div>
    <svg class="icon icon-down transition-short" width="10" height="6">
      <use href="#icon-arrow-down"></use>
    </svg>
  </summary>
  <div class="collapsible-row__content">
    {% if collapsible_page != null and pages[collapsible_page].content %}
      {{ pages[collapsible_page].content }}
    {% else %}
      {{ content }}
    {% endif %}
  </div>
</details>
{% schema %}
{
  "name": "t:sections.all.product_setting.collapsible_row.name",
  "class": "block-product__collapsible",
  "settings": [
    {
      "type": "text",
      "id": "heading",
      "default": "Collapsible row",
      "label": "t:sections.all.content_setting.heading.label",
      "info": "t:sections.all.product_setting.collapsible_row.settings.info"
    },
    {
      "type": "richtext",
      "id": "content",
      "label": "t:sections.all.product_setting.collapsible_row.settings.content"
    },
    {
      "type": "page",
      "id": "page",
      "label": "t:sections.all.product_setting.collapsible_row.settings.content_page"
    }
  ],
  "presets": [{ "name": "t:sections.all.product_setting.collapsible_row.name" }]
}
{% endschema %}
