{%- if closest.product != blank -%}
  {%- if closest.product.metafields.custom.highlights.value -%}
    <ul
      class="list-unstyled flex wrap gap-15 row-gap-20 flex-cols p-20 rounded bg-secondary"
      style="--col-number: 2;--col-desktop: 4;"
    >
      {%- for highlights in closest.product.metafields.custom.highlights.value -%}
        <li class="flex column fs-small">
          {% assign image_alt = highlights.title | default: closest.product.title | escape %}
          {%- if highlights.icon -%}
            {% render 'responsive-image',
              type: 'other',
              image: highlights.icon,
              image_alt: image_alt,
              class: 'rounded'
            %}
          {% endif %}
          {%- if highlights.title -%}
            <div class="highlights-text heading-color text-center mt-10">
              {{ highlights.title }}
            </div>
          {% endif %}
        </li>
      {%- endfor -%}
    </ul>
  {% endif %}
{% endif %}
{% schema %}
{
  "name": "t:sections.all.product_setting.highlights.name",
  "class": "block-product__highlights my-custom slideIn-animate",
  "presets": [{ "name": "t:sections.all.product_setting.highlights.name" }]
}
{% endschema %}
