{%- liquid
  assign section_st = section.settings
  assign open_all_question = section_st.open_all_question
-%}
{%- if block.settings.question != blank and block.settings.answer != blank -%}
  <div
    class="section__faq-items relative faq-block border-bottom"
  >
    <details
      class="collapsible-row py-20 py-1025-25{% if open_all_question %} detail-open{% endif %}"
      is="collapsible-row"
      {% if open_all_question %}
        open
      {% endif %}
    >
      <summary class="collapsible-row__summary">
        <div class="collapsible-heading">
          <div
            class="h6 transition pointer relative flex pe-20"
          >
            {{ block.settings.question }}
          </div>
          <span class="open-children-toggle transition">
            <span class="icon_plus-animation heading-color"> </span>
          </span>
        </div>
      </summary>
      <div
        class="collapsible-row__content overflow-hidden"
      >
        <div class="faq_content-inner text-start mt-10 mt-1025-20 prose">{{ block.settings.answer }}</div>
      </div>
    </details>
  </div>
{%- endif -%}

{% schema %}
{
  "name": "t:sections.faq.blocks.name",
  "class": "w-full",
  "settings": [
    {
      "type": "header",
      "content": "t:sections.all.content.label"
    },
    {
      "type": "text",
      "id": "question",
      "label": "t:sections.faq.blocks.settings.question.question",
      "default": "Frequently asked questions?"
    },
    {
      "type": "richtext",
      "id": "answer",
      "label": "t:sections.faq.blocks.settings.question.answer",
      "default": "<p>Write the answer.</p>"
    }
  ],
  "presets": [{ "name": "t:sections.faq.blocks.name" }]
}
{% endschema %}
