{%- if closest.product != blank -%}
  {%- if closest.product.metafields.custom.key_features.value -%}
    <ul class="list-unstyled flex column gap-5">
      {%- for features in closest.product.metafields.custom.key_features.value -%}
        <li class="flex wrap gap-10 align-center">
          <svg width="16" height="12" fill="none" class="heading-color">
            <path fill="currentColor" d="M14.074 1.074A.838.838 0 0 1 14.66.84c.235 0 .43.078.586.234.17.17.254.371.254.606 0 .221-.085.41-.254.566l-9.16 9.18a.795.795 0 0 1-.586.234.795.795 0 0 1-.586-.234l-4.16-4.18A.743.743 0 0 1 .5 6.68c0-.235.085-.437.254-.606a.772.772 0 0 1 .566-.234c.235 0 .437.078.606.234L5.5 9.648l8.574-8.574Z"/>
          </svg>
          {%- if features.title and features.description -%}
            <div class="key__features-inner">
              <span class="features-title-label heading-style">{{ features.title }}:</span>
              <span class="features-description-value">{{ features.description }}</span>
            </div>
          {% endif %}
        </li>
      {%- endfor -%}
    </ul>
  {% endif %}
{% endif %}
{% schema %}
{
  "name": "t:sections.all.product_setting.key_features.name",
  "class": "block-product__key-features my-custom slideIn-animate",
  "presets": [{ "name": "t:sections.all.product_setting.key_features.name" }]
}
{% endschema %}
