{% assign block_st = block.settings %}
<div
  class="block__description mb-custom fs-{{ block_st.description_size }} {% if section.settings.hide_description_on_mobile %}hidden-mobile{% endif %}"
  style="--space-bottom: {{ block_st.spacing_bottom }};"
  {{ block.shopify_attributes }}
>
  {{ block_st.description }}
</div>

{% schema %}
{
  "name": "t:sections.all.content_setting.description.label",
  "class": "w-full",
  "settings": [
    {
      "type": "richtext",
      "id": "description",
      "default": "<p>Add a short description for this block.</p>",
      "label": "t:sections.all.content_setting.description.label"
    },
    {
      "type": "select",
      "id": "description_size",
      "options": [
        {
          "value": "small",
          "label": "t:sections.all.content_header.heading_size.options__1.label"
        },
        {
          "value": "",
          "label": "t:sections.all.content_header.heading_size.options__2.label"
        },
        {
          "value": "big-2",
          "label": "t:sections.all.content_header.heading_size.options__3.label"
        }
      ],
      "default": "",
      "label": "t:sections.all.content_header.heading_size.size"
    },
    {
      "type": "range",
      "id": "spacing_bottom",
      "min": 0,
      "max": 50,
      "step": 1,
      "unit": "px",
      "label": "t:sections.all.padding.spacing_bottom",
      "default": 20
    }
  ],
  "presets": [{ "name": "t:sections.all.content_setting.description.label" }]
}
{% endschema %}
