{% schema %}
{
  "name": "t:sections.all.content_setting.description.label",
  "settings": [
    {
      "type": "richtext",
      "id": "description",
      "default": "<p>Add a short description for this block.</p>",
      "label": "t:sections.all.content_setting.description.label"
    },
    {
      "type": "select",
      "id": "description_size",
      "options": [
        {
          "value": "small",
          "label": "t:sections.all.content_header.heading_size.options__1.label"
        },
        {
          "value": "medium",
          "label": "t:sections.all.content_header.heading_size.options__2.label"
        },
        {
          "value": "large",
          "label": "t:sections.all.content_header.heading_size.options__3.label"
        }
      ],
      "default": "medium",
      "label": "t:sections.all.content_header.heading_size.size"
    }
  ],
  "presets": [{ "name": "t:sections.all.content_setting.description.label" }]
}
{% endschema %}
