{% assign block_st = block.settings %}
<h2
  class="rich-text__heading{% if block_st.uppercase %} uppercase{% endif %} {{ block_st.heading_size }}"
  {{ block.shopify_attributes }}
>
  {{ block_st.heading }}
</h2>

{% schema %}
{
  "name": "t:sections.all.content_setting.heading.label",
  "settings": [
    {
      "type": "text",
      "id": "heading",
      "default": "Talk about your brand",
      "label": "t:sections.all.content_setting.heading.label"
    },
    {
      "type": "select",
      "id": "heading_size",
      "options": [
        {
          "value": "small",
          "label": "t:sections.all.content_header.heading_size.options__1.label"
        },
        {
          "value": "medium",
          "label": "t:sections.all.content_header.heading_size.options__2.label"
        },
        {
          "value": "large",
          "label": "t:sections.all.content_header.heading_size.options__3.label"
        }
      ],
      "default": "medium",
      "label": "t:sections.all.content_header.heading_size.size"
    },
    {
      "type": "checkbox",
      "id": "uppercase",
      "default": false,
      "label": "t:settings_schema.typography.settings.heading.text_transform.uppercase"
    }
  ],
  "presets": [{ "name": "t:sections.all.content_setting.heading.label" }]
}
{% endschema %}
