<div
  class="h3 inline-flex align-center logo-block"
  {{ block.shopify_attributes }}
>
  {%- if settings.logo != blank -%}
    {%- assign img_alt = settings.logo.alt | default: shop.name | escape -%}
    {%- assign logo_height = settings.logo_width | divided_by: settings.logo.aspect_ratio -%}
    {%- liquid
      assign logo_class = 'header__heading-logo'
    -%}
    {{
      settings.logo
      | image_url: width: settings.logo_width
      | image_tag:
        class: logo_class,
        widths: '50, 100, 150, 200, 250, 300, 400, 500, 600',
        height: logo_height,
        width: settings.logo_width,
        alt: img_alt,
        sizes: '100vw'
    }}
  {%- else -%}
    <span class="site-logo {{ logo_class }}">{{ shop.name }}</span>
  {%- endif -%}
</div>

{% schema %}
{
  "name": "t:sections.custom_section.blocks.logo.name",
  "tag": null,
  "presets": [
    {
      "name": "t:sections.custom_section.blocks.logo.name",
      "category": "t:sections.group.blocks.basic"
    }
  ]
}
{% endschema %}
