.container-min {
  width: 800px;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
}
.text-truncate{
  --line-clamp: 2;
  display: -webkit-box;
  -webkit-line-clamp: var(--line-clamp);
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
:is(.h-small, .h-medium, .h-large) {
  min-height: var(--item-height-mb);
}

.h-small {
  --item-height-mb: 390px;
  --item-height: clamp(40rem,
      calc(40rem + (500 - 400) * var(--responsive-rate)),
      50rem);
}

.h-medium {
  --item-height-mb: 450px;
  --item-height: clamp(60rem,
      calc(45rem + (700 - 600) * var(--responsive-rate)),
      70rem);
}

.h-large {
  --item-height-mb: 555px;
  --item-height: clamp(80rem,
      calc(45rem + (900 - 800) * var(--responsive-rate)),
      90rem);
}
.btn-tag a {
  padding: 0.8rem 1.5em;
  border: var(--border-height, 1px) solid var(--color-border);
  border-radius: var(--btn-radius);
  display: block;
  position: relative;
  z-index: 1;
  text-transform: capitalize;
  overflow: hidden;
}
.post-meta li:not(:first-child):before {
  content: "";
  display: inline-block;
  width: 5px;
  height: 5px;
  border-radius: 100%;
  margin: 0 1.5rem 0;
  vertical-align: .15rem;
  background-color: currentColor;
}
.text-line:before {
  content: "";
  position: absolute;
  display: inline-block;
  top: 50%;
  transform: translateY(-60%);
  left: 0;
  width: 25px;
  height: 1px;
  background: #E5E5E5;
}
.blog-post-related {
  box-shadow: 0 0 0 100vmax var(--color-background);
  clip-path: inset(0 -100vmax);
}
.post-tags a.active{
  --btn-color: var(--btn-primary-color);
  background-color: var(--color-primary);
  border-color: var(--color-primary);
  color: var(--btn-color);
}
.custom-blog-featured img{
  --img-rounded: 0;
}
.blog-tag > a{
  display: block;
  pointer-events: auto;
  color: currentColor;
  border-radius: var(--btn-radius);
  background-color: var(--color-primary);
  padding-inline: 1.5rem;
  padding-block: 0.4rem;
}
@media (max-width: 1024px) {
  li.post-tags > a{
    --btn-padding-y: 1rem;
    --btn-padding-x: 2rem;

  }
}
.article-card__info > svg:first-of-type{
  display: none;
}
.article-card__info .post-date ~ svg{
  display: block;
}