:is(.h-small, .h-medium, .h-large) {
    min-height: var(--item-height-mb);
  }
  .h-small {
    --item-height-mb: 390px;
    --item-height: clamp(
      40rem,
      calc(40rem + (500 - 400) * var(--responsive-rate)),
      50rem
    );
  }
  .h-medium {
    --item-height-mb: 450px;
    --item-height: clamp(
      60rem,
      calc(45rem + (700 - 600) * var(--responsive-rate)),
      70rem
    );
  }
  .h-large {
    --item-height-mb: 555px;
    --item-height: clamp(
      80rem,
      calc(45rem + (900 - 800) * var(--responsive-rate)),
      90rem
    );
  }
.badge {
    display: inline-block;
    width: max-content;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
}

.blog-tag .badge a {
    padding: 0.9rem 1.4em;
    border: var(--border-height, 1px) solid var(--color-border);
    border-radius: var(--btn-radius);
    display: block;
    text-transform: capitalize;
}

.blog-tag .badge a:hover {
    background-color: var(--color-primary);
    border-color: var(--color-primary);
    color: #fff;
}

.post-meta li:not(:first-child):before {
    content: "";
    display: inline-block;
    width: 5px;
    height: 5px;
    border-radius: 100%;
    margin: 0 1.5rem 0;
    vertical-align: .15rem;
    background-color: currentColor;
}

.article-template__comments .article-template__comments-comment:not(:last-of-type) {
    border: 0;
    border-bottom: 1px dashed var(--color-border);
}

.article-template__comments .article-template__comments-comment:last-of-type {
    margin: 0;
    padding: 0;
}

.text-line:before {
    content: "";
    position: absolute;
    display: inline-block;
    top: 50%;
    transform: translateY(-60%);
    left: 0;
    width: 25px;
    height: 1px;
    background: #E5E5E5;
}
.post-author span{
    color: var(--color-grey);
}