

.overlay-bought{
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 80%, #fff 100%);
  bottom: 79px;
}
.bought-together-list .product-item {
  --input-height: 4rem;
}

input[type='checkbox']:checked~.bought-together-label {
  opacity: 0;
}
@media (min-width: 1400px) {
  .header-bought{
    max-width: 29rem;
    margin: auto;
  }
}
@media (min-width: 1025px) {
  .bought-together-list .product-item {
    --input-height: 4.6rem;
    flex: 0 0 auto;
    width: calc((100% - 108px) / 3);
  }
}

@media (max-width: 1024.98px) {
  .bought-together-list {
    align-items: center;
    gap: 10px;
  }

  .bought-together-list .product__information {
    margin: 0;
  }
}

.bought-together-list .icon-plus:first-child {
  display: none;
}

@media (max-width: 767.98px) {
  .bought-together-list .product__inner {
    display: flex;
    flex-direction: row-reverse;
    gap: 1.6rem;
  }

  .bought-together-list card-bought-together {
    position: unset;
  }

  .bought-together-list .checkmark {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
  }

  .bought-together-list .product-item__inner {
    background-color: transparent;
  }
  .header-bought{
    padding: 0;
    border: 0;
  }
  .bought-together-list__mobile{
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;
    scrollbar-color: auto;
    scrollbar-width: thin;
  }
  bought-together-popup .bought-together-list .icon-plus {
    display: none;
  }
  bought-together-popup .modal-popup-inner{
    max-height: 500px;
  }
  bought-together-popup .modal__header{
    justify-content: flex-start;
    padding: 2.7rem 2rem 1rem;
  }
  bought-together-popup select{
    border: 0;
    padding: 0 4rem 0 0;
  }
  bought-together-popup select:focus{
    box-shadow: none;
  }
}
.section__bought-together-products{
  background-color: var(--color-background-2);
}
.bought-together-list .product-item{
  background-color:white;
  padding: 1.6rem;
  border-radius: var(--img-rounded);
}