.reveal_on_scroll {
  scrollbar-width: none;
  scroll-snap-type: x mandatory;
  overscroll-behavior-x: contain;
  overflow: visible;
}

@media (min-width: 576px) {
  :is(.grid-cols, .flex-cols) {
    --col: var(--col-tablet, var(--col-desktop));
  }
}
@media (min-width: 1024px) {
  :is(.grid-cols, .flex-cols) {
    --col: var(--col-desktop, var(--col-number));
    --gap: var(--col-gap-desktop, var(--col-gap));
  }
}
@media screen and (max-width: 1024.98px) {
  .overflow-visible-mb {
    overflow: visible;
  }
  .overflow-hidden-mb {
    overflow: hidden;
  }
}
@media screen and (max-width: 767.98px) {
  .grid_scroll {
    grid-template-columns: repeat(
      var(--repeat, auto-fit),
      minmax(calc(100% / var(--col)), 1fr)
    );
    grid-auto-flow: column;
    grid-auto-columns: minmax(calc(100% / var(--col-number)), 1fr);
    gap: var(--gap);
    overflow-x: auto;
    overflow-y: hidden;
    scroll-behavior: smooth;
    display: grid;
    margin-left: calc(-1 * var(--bs-gutter-x));
    margin-right: calc(-1 * var(--bs-gutter-x));
    padding-left: var(--bs-gutter-x);
    padding-right: var(--bs-gutter-x);
    scrollbar-width: none;
  }
}
