.cart-info textarea {
  min-height: 12rem;
  padding: 16px 25px;
}
.cart-info .totals {
  --color-border: #dddad0;
}
.cart-info .collapse-item:first-child .collapsible-row {
  padding-top: 0;
}
@media screen and (max-width: 1024.98px) {

}
@media (min-width: 1025px) and (max-width: 1200px) {
  main-cart .cart-item-info {
    --col-width: 50% !important;
  }
  main-cart .cart-item-info .col-1025-remaining {
    flex-wrap: wrap;
    justify-content: flex-end;
  }
}
