.cart-info textarea {
  min-height: 12rem;
}
.cart-info .totals {
  --color-border: #dddad0;
}
@media screen and (max-width: 1024.98px) {
  .cart-item__media {
    --width: 7rem !important;
  }
  .cart-item__quantity-wrapper quantity-input {
    --input-height: 3.5rem;
    --input-border-radius: 0.5rem;
  }
  .cart-item__quantity-wrapper .quantity__input {
    --input-height: 32px !important;
    width: 3rem !important;
  }
  .cart-item__quantity-wrapper .quantity__button {
    padding-inline: 1rem;
  }
  .icon-remove-cart {
    width: 1rem;
    height: 1rem;
  }
}
