/* Reset */
:where(.container, .fluid_container) {
  padding-left: var(--bs-gutter-x, 1.5rem);
  padding-right: var(--bs-gutter-x, 1.5rem);
  margin-inline: auto;
  width: 100%;
}
:where(.stretch_width) {
  padding-left: var(--bs-gutter-x);
  padding-right: var(--bs-gutter-x);
}
.flex,
.swiper.flex {
  display: flex;
}
:where(.hidden, .no-js .no-js-hidden) {
  display: none;
}
@media (min-width: 1025px) {
  .container {
    width: 90%;
  }
  .fluid_container {
    width: 95%;
  }
  .hidden-1025 {
    display: none;
  }
  .block-1025 {
    display: block;
  }
  .absolute-1025 {
    position: absolute;
  }
  .invisible-1025 {
    opacity: 0;
    visibility: hidden;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: calc(var(--page-width) + var(--bs-gutter-x) * 2);
  }
  .fluid_container {
    max-width: calc(var(--fluid-container-width) + var(--bs-gutter-x) * 2);
  }
  .stretch_width {
    --bs-gutter-x: 3rem;
  }
}

summary {
  cursor: pointer;
  list-style: none;
  position: relative;
}
summary::-webkit-details-marker {
  display: none;
}
:where(
    .h0,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    .h1,
    .h2,
    .h3,
    .h4,
    .h5,
    .h6,
    .h0,
    .heading
  ) {
  font-family: var(--heading-font);
  font-style: var(--heading-font-style);
  font-weight: var(--heading-weight);
  text-transform: var(--heading-text-transform);
  color: var(--color-heading);
  line-height: calc(1 + 0.21 / var(--heading-font-scale));
  word-break: break-word;
  font-size: calc(var(--heading-font-scale) * var(--size));
  letter-spacing: var(--heading-letter-spacing);
  margin: 0;
}
:where(.heading-style) {
  font-family: var(--heading-font);
  font-weight: var(--heading-weight, 600);
  color: var(--color-heading);
}
:where(blockquote, dl, dd, hr, figure, p, pre) {
  margin: 0;
}
.rte
  :where(h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6, .h0, .heading) {
  margin-bottom: 1em;
}
.rte p:first-child {
  margin-block-start: 0;
}
.rte p:last-child {
  margin-block-end: 0;
}
:where(.h0) {
  --size: clamp(4rem, calc(4rem + (40 - 36) * var(--responsive-rate)), 7rem);
}
:where(h1, .h1),
.h1-size {
  --size: clamp(
    4rem,
    calc(4rem + (50 - 40) * var(--responsive-rate)),
    5rem
  );
}
:where(h2, .h2) {
  --size: clamp(
    3.6rem,
    calc(3.6rem + (40 - 36) * var(--responsive-rate)),
    4rem
  );
}
:where(h3, .h3) {
  --size: clamp(
    2.4rem,
    calc(2.8rem + (30 - 28) * var(--responsive-rate)),
    3rem
  );
}
:where(h4, .h4) {
  --size: 2.4rem;
}
:where(h5, .h5) {
  --size: 2.2rem;
}
:where(h6, .h6) {
  --size: 2rem;
}
:where(h7, .h7) {
  --size: 1.8rem;  
  font-size: calc(var(--heading-font-scale) * var(--size));
  line-height: calc(1 + 0.21 / var(--heading-font-scale));
}
.heading-letter-spacing {
  letter-spacing: var(--heading-letter-spacing);
}
:where(img) {
  max-width: 100%;
  height: auto;
}
video {
  max-width: 100%;
}
[style*="--aspect-ratio"] {
  position: relative;
  overflow: hidden;
}
[style*="--aspect-ratio"]:before {
  content: "";
  height: 0;
  display: block;
  padding-top: calc(100% / (0 + var(--aspect-ratio, 16 / 9)));
  pointer-events: none;
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px white inset !important;
}
:is(
    input[type="search"],
    input[type="tel"],
    input[type="text"],
    input[type="number"],
    input[type="email"],
    input[type="password"],
    select,
    textarea,
    .input-style
  ):focus {
  outline: 0;
  border-color: var(--color-heading);
}
input[type="checkbox"] {
  display: inline-block;
  margin-block-end: 0.5rem;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type="search"],
input[type="tel"],
input[type="text"],
body .dmp_discount-form input,
input[type="number"],
input[type="email"],
input[type="password"],
select,
.input-style {
  height: var(--input-height);
}
input[type="number"].heading-color {
  --input-color: var(--color-heading);
}
:where(
    input[type="search"],
    input[type="tel"],
    input[type="text"],
    input[type="date"],
    input[type="number"],
    body .dmp_discount-form input,
    input[type="email"],
    input[type="password"],
    select,
    textarea,
    .input-style
  ) {
  padding: var(--input-padding);
  border: var(--inputs-border-width) solid var(--color-border);
  background: var(--input-bg);
  color: var(--input-color);
  border-radius: var(--input-border-radius);
  font-family: var(--body-font-family);
  font-size: var(--input-font-size);
  font-weight: var(--body-font-weight);
  -webkit-appearance: none;
  appearance: none;
  transition: 0.25s;
}
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
  overflow: visible;
}
select {
  cursor: pointer;
  -moz-appearance: none;
  -webkit-appearance: none;
  padding: 5px 30px 5px 20px;
  background: var(--input-bg)
    url("data:image/svg+xml,%3Csvg width='10' height='5' viewBox='0 0 10 5' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.08984 1.32227L4.58984 4.82227C4.69922 4.94076 4.83594 5 5 5C5.16406 5 5.30078 4.94076 5.41016 4.82227L8.91016 1.32227C9.02865 1.21289 9.08789 1.08073 9.08789 0.925781C9.08789 0.761719 9.02865 0.620443 8.91016 0.501953C8.80078 0.392578 8.66406 0.337891 8.5 0.337891C8.33594 0.337891 8.19922 0.392578 8.08984 0.501953L5 3.5918L1.91016 0.501953C1.80078 0.392578 1.66406 0.337891 1.5 0.337891C1.33594 0.337891 1.19922 0.392578 1.08984 0.501953C0.971354 0.620443 0.912109 0.761719 0.912109 0.925781C0.912109 1.08073 0.971354 1.21289 1.08984 1.32227Z' fill='%23111111'/%3E%3C/svg%3E")
    no-repeat;
  background-position: calc(100% - 20px) center;
  font-size: var(--body-font-size);
}
input[type="password"] {
  padding-inline-end: 4.5rem;
}
textarea {
  --input-border-radius: calc(var(--btn-radius) - 10px);
  min-height: 15rem;
  resize: none;
  --input-padding: 2rem;
}

.input-rounded {
  border-radius: var(--input-border-radius);
}
.wh-40 {
  width: 4rem;
  height: 4rem;
}
.wh-55 {
  width: 5.5rem;
  height: 5.5rem;
}
.w-full {
  width: 100%;
}
.w-custom {
  width: var(--custom-width);
}
.min-w-custom {
  min-width: var(--min-width);
}
.h-custom {
  height: var(--custom-height);
}
.w-content {
  width: fit-content;
}
@media screen and (max-width: 767.98px) {
  [style*="--aspect-ratio-mb"]::before {
    padding-top: calc(100% / (0 + var(--aspect-ratio-mb, 16 / 9)));
  }
}
@media screen and (max-width: 1024.98px) {
  .overflow-visible-mb {
    overflow: visible;
  }
  .overflow-hidden-mb {
    overflow: hidden;
  }
}
:where(
    [style*="--aspect-ratio"]
      > :is(
        *:first-child,
        img,
        svg:not(.product_media-model-icon),
        video,
        picture,
        picture > *
      )
  ) {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
[style*="--point"],
[style*="--point"] :is(img, picture) {
  object-position: var(--point);
}
@media (min-width: 768px) {
  .flex-md {
    display: flex;
  }
  .row-reverse-md {
    flex-direction: row-reverse;
  }
  .col-md-w-custom {
    flex: 0 0 auto;
    width: var(--col-width, 50%);
  }
  .col-md-remaining {
    flex: 0 0 calc(100% - var(--col-width) - var(--gap, 2rem));
    width: calc(100% - var(--col-width) - var(--gap, 2rem));
  }
  .mt-md-0 {
    margin-top: 0;
  }
}
@media (min-width: 992px) {
  .h-full_screen {
    min-height: calc(
      100vh - var(--height-header, 70px) - var(--height-topbar, 0px) -
        var(--height-bar, 0px)
    );
  }
  [style*="--aspect-ratio"].h-full_screen::before {
    padding-top: 0;
  }
  .stretch_width .h-full_screen {
    min-height: calc(
      100vh - var(--height-header, 70px) - var(--height-topbar, 0px) -
        var(--height-bar, 0px) - var(--bs-gutter-x)
    );
  }
  .max-w-custom {
    max-width: var(--max-width);
  }
}
:where(a, a strong) {
  color: inherit;
  transition: var(--transition);
  text-decoration: inherit;
}
.text-size {
  font-size: var(--body-font-size);
}
.fs-small {
  font-size: calc(var(--body-font-size) - 2px);
}
.fs-small-1 {
  font-size: calc(var(--body-font-size) - 1px);
}
.primary-color {
  color: var(--color-primary);
}
.bg-white {
  background-color: rgba(var(--color-white), var(--opacity, 1));
}
.bg-dark {
  background-color: var(--color-dark);
}
.underline {
  text-decoration-line: underline;
  text-underline-offset: 3px;
}
.capitalize {
  text-transform: capitalize;
}
:is(.uppercase-first-letter, .tooltip-content)::first-letter {
  text-transform: uppercase;
}
.no-underline {
  text-decoration-line: none;
}
.uppercase {
  text-transform: uppercase;
}
.relative {
  position: relative;
}
.absolute {
  position: absolute;
}
.top-15 {
  top: 1.5rem;
}
.inset-0 {
  inset: 0;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
}
.inset-x-0 {
  left: 0;
  right: 0;
}
.left-0 {
  inset-inline-start: 0;
}
.right-0 {
  inset-inline-end: 0;
}
.right-15 {
  right: 1.5rem;
}
.left-15 {
  left: 1.5rem;
}
.inset-x-15 {
  inset-inline: 1.5rem;
}
.invisible {
  opacity: 0;
  visibility: hidden;
}
.opacity-0 {
  opacity: 0;
}
.opacity-1 {
  opacity: 1;
}
.lh-normal {
  line-height: normal;
}
.shadow {
  box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.05);
}
.blur {
  backdrop-filter: blur(var(--blur, 3px));
}
:where(.btn),
:is(
    body .shopify-payment-button__more-options,
    body .shopify-payment-button__button--unbranded,
    .dmp_discount-form button
  ) {
  position: relative;
  z-index: 1;
  padding: var(--btn-padding-y) var(--btn-padding-x);
  font-size: var(--btn-font-size);
  font-weight: var(--heading-weight);
  font-family: var(--btn-font);
  color: var(--btn-color);
  background-color: var(--btn-bg);
  transition: var(--transition);
  border-radius: var(--btn-radius);
  line-height: normal;
  cursor: pointer;
  letter-spacing: var(--heading-letter-spacing);
  text-transform: var(--btn-text-transform);
  transition: var(--transition);
  position: relative;
  overflow: hidden;
  border: 1px solid var(--btn-border-color);
  text-decoration: none;
}
:where(
    .btn-primary,
    .shopify-payment-button__more-options,
    .shopify-payment-button__button--unbranded,
    .shopify-challenge__button,
    .dmp_discount-form button
  ) {
  --btn-bg: var(--btn-primary-bg-color);
  --btn-color: var(--btn-primary-color);
  --btn-border-color: var(--btn-bg);
}
.btn-outline {
  --btn-bg: rgb(var(--color-white));
  --btn-color: var(--btn-outline-color);
  --btn-border-color: var(--btn-outline-border-color);
}
.btn-white {
  --btn-bg: rgb(var(--color-white));
  --btn-color: var(--btn-outline-color);
  --btn-border-color: rgb(var(--color-white));
}
:where(.btn-reset) {
  background: transparent;
  border: 0;
  padding: 0;
  font-family: var(--body-font-family);
}
button[disabled],
.disabled {
  pointer-events: none;
  opacity: 0.6;
}
.btn-active.active {
  color: var(--btn-primary-color);
  background-color: var(--btn-primary-bg-color);
  border-color: var(--btn-primary-bg-color);
}
.btn-link {
  color: var(--btn-link-color);
  font-family: var(--btn-font), sans-serif;
  font-weight: var(--heading-weight);
  padding: 0 0 1px;
  position: relative;
  line-height: 1;
  font-size: calc(var(--body-font-size) + 1px);
  cursor: pointer;
}
.btn-link::before {
  content: "";
  position: absolute;
  height: var(--height, 1px);
  background-color: var(--btn-link-color);
  right: 0;
  bottom: 0;
  left: 0;
  transition: var(--transition);
}
.btn-text-transform {
  text-transform: var(--btn-text-transform);
}
.shopify-challenge__container .shopify-challenge__button {
  margin-top: 2rem;
}
.body_weight {
  font-weight: var(--body-font-weight);
}
.subheading_weight {
  font-weight: var(--subheading-weight, 600);
}
.heading_weight,
strong {
  font-weight: var(--heading-weight, 600);
}
.visually-hidden {
  clip: rect(0 0 0 0);
  border: 0;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute !important;
  width: 1px;
}
.inline-flex {
  display: inline-flex;
}
.content-center {
  justify-content: center;
  align-items: center;
}
.justify-between {
  justify-content: space-between;
}
.align-center {
  align-items: center;
}
:where(.justify-center, .justify-content-center) {
  justify-content: center;
}
:where(.flex-end, .justify-content-right, .justify-content-end) {
  justify-content: flex-end;
}
.flex-auto {
  flex: 0 0 auto;
}
.flex-1 {
  flex: 1 1 0%;
}
.flex-10 {
  flex: 0 0 1rem;
}
.grow-1 {
  flex-grow: 1;
}
.shrink-1 {
  flex-shrink: 1;
}
:where(.flex-row) {
  flex-direction: row;
}
:where(.flex-row-reverse) {
  flex-direction: row-reverse;
}
:where(.column) {
  flex-direction: column;
}
:where(.column-reverse) {
  flex-direction: column-reverse;
}
:where(.wrap) {
  flex-wrap: wrap;
}
.flex-nowrap {
  flex-wrap: nowrap;
}
:where(.rounded) {
  border-radius: var(--img-rounded);
  overflow: hidden;
}
:where(.btn-rounded) {
  border-radius: var(--btn-radius);
}
:where(.rounded-50) {
  border-radius: 50%;
}
:where(.rounded-10) {
  border-radius: 10px;
}
.border-0 {
  border: 0;
}
:where(.border) {
  border: var(--border-height, 1px) solid var(--color-border);
}
.flex-cols {
  --col: var(--col-number);
  gap: var(--gap);
}
.grid-cols {
  --col: var(--col-number);
  --gap: var(--col-gap);
  grid-template-columns: repeat(
    var(--col),
    calc((100% - var(--gap, 0px) * calc(var(--col) - 1)) / var(--col))
  );
}
.flex-cols > * {
  flex: 0 0 auto;
  width: calc((100% - var(--gap, 0px) * calc(var(--col) - 1)) / var(--col));
}
.cols {
  margin-left: calc(-0.5 * var(--col-gap, var(--bs-gutter-x)));
  margin-right: calc(-0.5 * var(--col-gap, var(--bs-gutter-x)));
}
.cols > * {
  padding-inline-start: calc(var(--col-gap, var(--bs-gutter-x)) * 0.5);
  padding-inline-end: calc(var(--col-gap, var(--bs-gutter-x)) * 0.5);
}
.row-gap-0 {
  row-gap: 0;
}
:where(.gap) {
  gap: var(--gap, 2rem);
}
:where(.gap-5) {
  gap: 0.5rem;
}
:where(.gap-10) {
  --col-gap: 1rem;
  gap: var(--col-gap);
}
:where(.gap-15) {
  --col-gap: 1.5rem;
  gap: var(--col-gap);
}
:where(.gap-20) {
  --col-gap: 2rem;
  gap: var(--col-gap);
}
:where(.gap-25) {
  --col-gap: 2.5rem;
  gap: var(--col-gap);
}
:where(.gap-30) {
  --col-gap: 3rem;
  gap: var(--col-gap);
}
:where(.gap-40) {
  gap: 4rem;
}
.row-gap {
  row-gap: var(--col-gap, 0);
}
.text-start {
  text-align: start;
}
.text-center {
  text-align: center;
}
.object-fit-cover {
  object-fit: cover;
  object-position: center center;
}
.object-position-center {
  object-position: center;
}
.list-unstyled {
  margin: 0;
  padding: 0;
  list-style: none;
}
.block {
  display: block;
}
.d-none {
  display: none;
}
.inline-block {
  display: inline-block;
}
.inline {
  display: inline;
}
.grid,
.swiper.grid {
  display: grid;
}
.last-0:last-child,
.last-0:last-of-type {
  margin: 0;
  padding: 0;
  border: 0;
}
.ps-10 {
  padding-inline-start: 1rem;
}
.ps-20 {
  padding-inline-start: 2rem;
}
.pe-10 {
  padding-inline-end: 1rem;
}
.pe-20 {
  padding-inline-end: 2rem;
}
.mt-10 {
  margin-top: 10px;
}
.mt-15 {
  margin-top: 1.5rem;
}
.mt-20 {
  margin-top: 2rem;
}
.mt-30 {
  margin-top: 3rem;
}
.mt-40 {
  margin-top: clamp(3rem, 3.8vw, 4rem);
}
.mt-50 {
  margin-top: clamp(3.5rem, 4.3vw, 5rem);
}
.mb-10 {
  margin-bottom: 1rem;
}
.mt-custom {
  margin-top: var(--space-top);
}

.mb-25 {
  margin-bottom: 2.5rem;
}
.mb-custom {
  margin-bottom: calc(var(--space-bottom) * 1px);
}

.me-3 {
  margin-inline-end: 3px;
}
.me-10 {
  margin-inline-end: 1rem;
}
.overflow-hidden {
  overflow: hidden;
}
.overflow-auto {
  overflow: auto;
}
.section {
  padding-top: clamp(
    (var(--section-pt) * 0.75px),
    calc(
      (var(--section-pt) * 0.75px) +
        (var(--section-pt) - (var(--section-pt) * 0.75)) *
        var(--responsive-rate)
    ),
    calc(var(--section-pt) * 1px)
  );
  padding-bottom: clamp(
    (var(--section-pb) * 0.75px),
    calc(
      (var(--section-pb) * 0.75px) +
        (var(--section-pb) - (var(--section-pb) * 0.75)) *
        var(--responsive-rate)
    ),
    calc(var(--section-pb) * 1px)
  );
}
.p-min {
  padding-top: calc(var(--section-pt) * 1px);
  padding-bottom: calc(var(--section-pb) * 1px);
}
.section-spacing-top {
  margin-top: calc(var(--section-spacing) - var(--gutter-x, 0px));
}
.section-header {
  margin-block-end: var(--header-spacing-bottom);
}
.header__logo {
  grid-area: logo;
}
.header__heading-logo {
  width: var(--logo-width);
}
.header__menu {
  grid-area: menu;
}
.header__action {
  grid-area: icon;
}
.header__inner {
  grid-template: var(--header-grid-template);
  gap: 2.5rem;
}
body:not(.template-index) .transparent-logo {
  display: none;
}
.header-color {
  color: var(--color-heading);
}
.color-inherit {
  color: inherit;
}
.color-dark {
  color: var(--color-dark);
}
.grey-color {
  color: var(--color-grey);
}
.cart-count {
  width: 1.9rem;
  height: 1.9rem;
  box-shadow: 0 0 0 1px var(--color-background);
  right: 0;
  top: 5px;
  line-height: 1;
}
.menu_weight {
  font-weight: var(--menu-weight);
}
.list-menu {
  gap: 1rem 4rem;
}
.top-left {
  align-self: baseline;
}
.top-center {
  justify-content: center;
  align-self: baseline;
}
.top-right {
  justify-content: flex-end;
  align-self: baseline;
}
.middle-left {
  align-items: center;
}
.middle-center {
  align-items: center;
  justify-content: center;
}
.middle-right {
  align-items: center;
  justify-content: flex-end;
}
.bottom-left {
  align-items: flex-end;
}
.bottom-center {
  align-items: flex-end;
  justify-content: center;
}
.bottom-right {
  align-items: flex-end;
  justify-content: flex-end;
}
.lh-global {
  line-height: var(--body-line-height);
}
.fs-small {
  font-size: calc(var(--body-font-size) - 2px);
}
.fs-big-2 {
  font-size: calc(var(--body-font-size) + 2px);
}
.fs-large {
  font-size: clamp(
    (var(--font-size) * 0.64px),
    calc(
      (var(--font-size) * 0.64px) +
        (var(--font-size) - (var(--font-size) * 0.64)) * var(--responsive-rate)
    ),
    calc(var(--font-size) * 1px)
  );
}
.fs-medium {
  font-size: clamp(
    (var(--font-size) * 0.8333px),
    calc(
      (var(--font-size) * 0.8333px) +
        (var(--font-size) - (var(--font-size) * 0.8333)) *
        var(--responsive-rate)
    ),
    calc(var(--font-size) * 1px)
  );
}
:where([style*="--aspect-ratio"]) {
  position: relative;
  overflow: hidden;
}
[style*="--aspect-ratio"] > *:first-child,
[style*="--aspect-ratio"] > video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
@media screen and (min-width: 1025px) {
  :is(.grid-cols, .flex-cols) {
    --col: var(--col-desktop, var(--col-desktop-small));
    --col-gap: var(--col-gap-desktop, 20px);
  }
}
