@media (max-width: 1024.98px) {
  .information-text__wrapper {
    overflow: hidden;
    margin-inline: calc(var(--bs-gutter-x) * -1);
    padding-inline: var(--bs-gutter-x);
    width: auto;
    margin-top: 2rem;
    white-space: nowrap;
    mask-image: linear-gradient(
      to right,
      transparent 0,
      #000 20%,
      #000 80%,
      transparent 100%
    );
    -webkit-mask-image: linear-gradient(
      to right,
      transparent 0,
      #000 20%,
      #000 80%,
      transparent 100%
    );
    overflow-x: scroll;
    scrollbar-width: none;
    scroll-snap-type: x mandatory;
    overscroll-behavior-x: contain;
  }
}
@media (min-width: 1025px) {
  .featured__parallax-inner {
    --max-width: 40rem;
  }
  .block__information_text:is(:nth-of-type(1), :nth-of-type(5))
    .block__information_text-inner {
    margin-inline-end: 1.7rem;
  }
  .block__information_text:is(:nth-of-type(3), :nth-of-type(7))
    .block__information_text-inner {
    margin-inline-end: 6.7rem;
  }
  .block__information_text:is(:nth-of-type(2), :nth-of-type(6))
    .block__information_text-inner {
    margin-inline-start: 1.7rem;
  }
  .block__information_text:is(:nth-of-type(4), :nth-of-type(8))
    .block__information_text-inner {
    margin-inline-start: 6.7rem;
  }
  .balloon-icon {
    bottom: -4px;
    inset-inline-end: -9px;
  }
  .block__information_text:nth-child(even) {
    justify-content: flex-start;
  }
  .block__information_text:nth-child(odd) {
    justify-content: flex-end;
  }
  .block__information_text:nth-child(even) .balloon-icon {
    inset-inline-start: -9px;
    inset-inline-end: auto;
    transform: rotate(-260deg);
    -webkit-transform: rotate(-260deg);
  }
  .information-text__wrapper {
    --gap-desktop: calc(var(--max-width, 40rem) + 8rem);
    --width: (calc(100% - var(--max-width, 40rem)) / 2);
    --row-gap: 5.7rem;
    padding-top: var(--row-gap);
  }
  .block__information_text {
    flex: 0 0 auto;
    width: calc((100% - var(--gap-desktop)) / 2);
  }
}
