:root {
  --input-padding: 0 1.5rem;
  --inputs-border-width: 1px;
  --input-border-color: var(--border-color);
  --input-bg: var(--color-white);
  --input-color: rgb(var(--heading-color-hsl));
  --input-border-radius: var(--btn-border-radius);
  --input-font-size: var(--body-font-size);
  --input-placeholder-color: rgb(var(--text-color-hsl));
}
input[type="search"],
input[type="tel"],
input[type="text"],
body .dmp_discount-form input,
input[type="number"],
input[type="email"],
input[type="password"],
select,
.input-style {
  height: var(--input-height);
}
input[type="number"].heading-color {
  --input-color: var(--color-heading);
}
input[type="search"],
input[type="tel"],
input[type="text"],
input[type="date"],
input[type="number"],
body .dmp_discount-form input,
input[type="email"],
input[type="password"],
select,
textarea,
.input-style {
  padding: var(--input-padding);
  border: var(--inputs-border-width) solid var(--color-border);
  background: var(--input-bg);
  color: var(--input-color);
  border-radius: var(--input-border-radius);
  font-family: var(--body-font);
  font-size: var(--input-font-size);
  font-weight: var(--body-weight);
  -webkit-appearance: none;
  appearance: none;
  transition: 0.25s;
}
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
  overflow: visible;
}
select {
  cursor: pointer;
  -moz-appearance: none;
  -webkit-appearance: none;
  padding: 5px 30px 5px 20px;
  background: var(--input-bg)
    url("data:image/svg+xml,%3Csvg width='10' height='5' viewBox='0 0 10 5' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.08984 1.32227L4.58984 4.82227C4.69922 4.94076 4.83594 5 5 5C5.16406 5 5.30078 4.94076 5.41016 4.82227L8.91016 1.32227C9.02865 1.21289 9.08789 1.08073 9.08789 0.925781C9.08789 0.761719 9.02865 0.620443 8.91016 0.501953C8.80078 0.392578 8.66406 0.337891 8.5 0.337891C8.33594 0.337891 8.19922 0.392578 8.08984 0.501953L5 3.5918L1.91016 0.501953C1.80078 0.392578 1.66406 0.337891 1.5 0.337891C1.33594 0.337891 1.19922 0.392578 1.08984 0.501953C0.971354 0.620443 0.912109 0.761719 0.912109 0.925781C0.912109 1.08073 0.971354 1.21289 1.08984 1.32227Z' fill='%23111111'/%3E%3C/svg%3E")
    no-repeat;
  background-position: calc(100% - 20px) center;
  font-size: var(--body-font-size);
}
input[type="password"] {
  padding-inline-end: 4.5rem;
}
textarea {
  --input-border-radius: calc(var(--btn-radius) - 10px);
  min-height: 15rem;
  resize: none;
  --input-padding: 2rem;
}
table {
  border-spacing: 0;
  border-collapse: collapse;
}
input[type="search"] {
  appearance: none;
  -webkit-appearance: none;
}
/* Firefox */
input[type="number"] {
  appearance: textfield;
  -moz-appearance: textfield;
}
:where(input, textarea)::-ms-input-placeholder {
  /* Microsoft Edge */
  opacity: 1;
  color: var(--input-placeholder-color);
  font-size: calc(var(--body-font-size) - 1px);
}
:where(input, textarea)::placeholder {
  color: var(--input-placeholder-color);
  font-size: calc(var(--body-font-size) - 1px);
}
thead th {
  border-width: 0 1px 0 0;
  font-weight: 600;
}
table,
td,
th {
  border: 1px solid var(--border-color-base);
  vertical-align: middle;
}
td,
th {
  padding: 11px 12px;
}

blockquote {
  background-color: var(--grey-color);
  font-size: clamp(1.6rem, 2.5vw, 2rem);
  font-weight: var(--heading-weight);
  color: var(--color-heading);
  letter-spacing: var(--heading-letter-spacing);
  padding: clamp(2rem, 3vw, 4rem);
  line-height: 1.5;
}

.rounded-style .rounded-2 {
  border-radius: 2px;
}
.rounded-style .rounded-3 {
  border-radius: 3px;
}
.rounded-style .rounded-5 {
  border-radius: 5px;
}
.rounded-style .rounded-10 {
  border-radius: 10px;
}
.rounded-style .rounded-15 {
  border-radius: 15px;
}
