.product-detail__information {
  --color-swatch-width: 4rem;
  --color-swatch-height: 4rem;
}
.product-detail__information .swatch-image {
  --color-swatch-width: 5rem;
  --color-swatch-height: 5rem;
}

.product-detail__information
  :is(
    .color-swatch-label:hover,
    input[type="radio"]:checked + .color-swatch-label
  ):before {
  --shadow-position: 3px;
}
.shopify-block:has(> *:empty),
.product-detail__information .shopify-block:empty {
  display: none;
}
.media-main-swiper
  .swiper:not([class*="initialized"])
  .swiper-wrapper
  .swiper-slide:not(:first-child) {
  display: none;
}
.product__tax a {
  font-weight: var(--heading-weight);
}
.product-form__buttons:has(.appstle_sub_widget) .button_buy-now {
  width: 100%;
}
#appstle_subscription_widget0 {
  margin: 0;
}
.appstle_custom_select select {
  background: none;
}
.media-thumb-swiper .swiper-slide::after {
  content: "";
  position: absolute;
  inset: 0;
  border: 1px solid transparent;
  transition: var(--transition);
  border-radius: 1rem;
}
.media-thumb-swiper .swiper-slide-thumb-active:after {
  border-color: var(--color-dark);
}
@media (min-width: 768px) {
  .stacked {
    grid-template-columns: repeat(2, 1fr);
  }
  .stacked > *:nth-child(3n + 1) {
    grid-column: 1 / 3;
  }

  .thumbnail_left .media-main-swiper {
    width: calc(100% - 11rem);
  }
  .thumbnail_left .swiper-vertical {
    height: 100%;
  }
  .thumbnail_left .media-thumb-swiper {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 10rem;
    margin-top: 0;
    --swiper-navigation-sides-offset: 0;
    --arrows-offset-top: 1.5rem;
    height: 100%;
  }
  .thumbnail_left .media-thumb-swiper .swiper-slide {
    height: auto !important;
  }
  .thumbnail_left .swiper-wrapper-thumbnail .swiper-wrapper {
    flex-direction: column;
    gap: 0;
  }
  .thumbnail_left .swiper-wrapper-thumbnail .swiper-wrapper .swiper-slide {
    width: 100%;
    margin-bottom: 1rem;
  }
}
.zoom-in {
  cursor: zoom-in;
}
