@media (min-width: 768px) {
  .stacked {
    grid-template-columns: repeat(2, 1fr);
  }
  .stacked > *:nth-child(3n + 1) {
    grid-column: 1 / 3;
  }

  .thumbnail_left .media-main-swiper {
    width: calc(100% - 11rem);
  }
  .thumbnail_left .swiper-vertical {
    height: 100%;
  }
  .thumbnail_left .media-thumb-swiper {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 10rem;
    margin-top: 0;
    --swiper-navigation-sides-offset: 0;
    --arrows-offset-top: 1.5rem;
    height: 100%;
  }
  .thumbnail_left .media-thumb-swiper .swiper-slide {
    height: auto !important;
  }
}
