.product__badges {
  align-items: flex-start;
  max-width: 75%;
}
[class*="product__badges-"] {
  background-color: var(--badges-bg);
  color: var(--badges-color);
}
:is([class*="product__badges-"], .rating-total) {
  padding: 4px 14px;
  line-height: 20px;
}
.product__name {
  font-size: var(--product-name-size, 1.6rem);
  line-height: 1.5;
}
.product__price {
  font-size: var(--product-price-size, 1.4rem);
  margin-top: 6px;
}
.rating {
  color: #c4c4c4;
}
.rate-color {
  color: var(--rate-color);
}
@media (min-width: 1025px) and (pointer: fine) and (prefers-reduced-motion: no-preference) {
  .product__inner:hover :is(.product__hover-img, .button-quickview) {
    opacity: 1;
    visibility: visible;
  }
  .button-quickview {
    --btn-padding-y: 1.5rem;
    transform: translateY(100%);
    transition: 0.35s cubic-bezier(0.04, 0.24, 0.37, 0.95);
  }
  .product__inner:hover .button-quickview {
    transform: translateY(0);
  }
}
.shopify-payment-button__more-options.shopify-payment-button__skeleton {
  width: 100%;
  margin-inline: auto;
}
