.product__badges {
  align-items: flex-start;
  max-width: 75%;
}
[class*="product__badges-"] {
  background-color: var(--badges-bg);
  color: var(--badges-color);
}
:is([class*="product__badges-"], .rating-text) {
  padding: 4px 14px;
  line-height: 20px;
}
.product__name {
  font-size: var(--product-name-size, 1.6rem);
}
