shopable-image {
  left: var(--left);
  top: var(--top);
  transform: var(--transform);
  --shopable-image-product: translate(-50%) translateY(40px);
  --shopable-image-product-hover: translate(-50%) translateY(20px);
}
.animation-hotspot:after {
  content: "";
  position: absolute;
  left: -1rem;
  right: -1rem;
  top: -1rem;
  bottom: -1rem;
  background-color: #ffffff73;
  border-radius: 50%;
  z-index: -1;
  animation: ripple 1s infinite;
}

@keyframes ripple {
  0% {
    opacity: 1;
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
  }

  100% {
    opacity: 0;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
.product-tooltip {
  min-width: 34rem;
  position: absolute;
  z-index: 1;
}