@media (min-width: 1025px) {
    .sticky-container {
        min-height: var(--stick-items);
    }

    .section-parallax-image .section-sticky{
        height: 100vh;
        position: sticky;
        top: 2rem;
    }

    .blocks-group-parallax-image {
        position: absolute;
        inset: 0;
        z-index: var(--stick-visibility);
    }

    .parallax-content {
        order: 0;
        opacity: var(--stick-visibility);
        transition-duration: 300ms;
        transition-property: opacity;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        transition-duration: 150ms;
    }

    .parallax-media {
        opacity: var(--stick-visibility);
    }
}