/* Marquee */
.animation-marquee {
  animation: ticker var(--speed, 6s) infinite linear;
  -webkit-animation: ticker var(--speed, 6s) infinite linear;
}
.animation__marquee-right {
  animation: ticker-right var(--speed, 6s) infinite linear;
  -webkit-animation: ticker-right var(--speed, 6s) infinite linear;
}
.marquee:hover > * {
  animation-play-state: paused;
}
@media screen and (max-width: 767.98px) {
  .scrolling-image-item {
    width: calc(var(--width) * 0.873);
  }
  
}
@keyframes ticker {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}
@-webkit-keyframes ticker {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}
@keyframes ticker-right {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(100%);
  }
}
@-webkit-keyframes ticker-right {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(100%);
  }
}
