.swiper-wrapper .swiper-slide:not(.swiper-slide-active) {
  opacity: 0 !important;
}
.slideshow .swiper-slide-active .sec__content {
  opacity: 1;
  visibility: visible;
}
.swiper-slide {
  height: auto;
  align-self: stretch;
}
.banner__media .placeholder-svg{
  width: 100%;
  height: 100%;
}
:where(.container, .fluid_container) .text-bellow-mb .sec__content  {
  padding-left: 0;
    padding-right: 0;
}
@media screen and (max-width: 767.98px) {
  .swiper-pagination.swiper-pagination-bellow{
    position: var(--swiper-pagination-position, absolute);
    margin-top: var(--swiper-pagination-margin-top, 0px);
  }
}