table {
  border-spacing: 0;
  border-collapse: collapse;
}
/* Firefox */
input[type="number"] {
  appearance: textfield;
  -moz-appearance: textfield;
}
:where(input, textarea)::-ms-input-placeholder {
  /* Microsoft Edge */
  opacity: 1;
  color: var(--input-placeholder-color);
  font-size: calc(var(--body-font-size) - 1px);
}
:where(input, textarea)::placeholder {
  color: var(--input-placeholder-color);
  font-size: calc(var(--body-font-size) - 1px);
} /* Chrome, Safari, Edge */
input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
  position: relative;
  height: 15px; /* Size of your custom icon */
  width: 15px;
  background: url("icon-close.png") no-repeat center center;
  background-size: 10px;
  cursor: pointer;
  transition: var(--duration-short);
}
.loading_snippet.loading input[type="search"]::-webkit-search-cancel-button {
  opacity: 0;
  visibility: hidden;
}
thead th {
  border-width: 0 1px 0 0;
  font-weight: 600;
}
table,
td,
th {
  border: 1px solid var(--color-border);
  vertical-align: middle;
}
td,
th {
  padding: 11px 12px;
}
blockquote {
  background-color: var(--accent-color-second);
  font-size: clamp(1.6rem, 2.5vw, 2rem);
  font-weight: var(--heading-weight);
  color: var(--color-heading);
  letter-spacing: var(--heading-letter-spacing);
  padding: clamp(2rem, 3vw, 4rem);
  line-height: 1.5;
  border-radius: var(--img-rounded);
  overflow: hidden;
}
.pointer {
  cursor: pointer;
}
.pointer-none {
  pointer-events: none;
}
.medium-weight {
  font-weight: 500;
}
.semibold {
  font-weight: 600;
}
.bold {
  font-weight: bold;
}
.color-white {
  color: rgb(var(--color-white));
}
:where(.light-dark-grey) {
  color: rgba(var(--color-heading-rgb), 0.6);
}
:where(.dark-grey) {
  color: var(--dark-grey, #666);
}
.rich__text-m0 p:only-child {
  margin-block: 0;
}
.rich__text-mt-0 p {
  margin-top: 0;
}
.fs-small-1 {
  font-size: calc(var(--body-font-size) - 1px);
}
.fs-big-1 {
  font-size: calc(var(--body-font-size) + 1px);
}
.fs-11 {
  font-size: 1.1rem;
}
.fs-12 {
  font-size: 1.2rem;
}
.fs-16 {
  font-size: 1.6rem;
}
.fs-18 {
  font-size: 1.8rem;
}
.fs-20 {
  font-size: 2rem;
}
.fs-22 {
  font-size: 2.2rem;
}
.fs-26 {
  font-size: 2.6rem;
}
.fs-36 {
  font-size: calc(2.305rem + 0.66vw);
}

.fs-custom {
  font-size: calc(var(--font-size) * 1px);
}
.fs-medium-list {
  font-size: clamp(
    (var(--font-size) * 0.875px),
    calc(
      (var(--font-size) * 0.875px) +
        (var(--font-size) - (var(--font-size) * 0.875)) * var(--responsive-rate)
    ),
    calc(var(--font-size) * 1px)
  );
}
.mb-big {
  margin-bottom: clamp(
    (var(--space-bottom) * 0.64px),
    calc(
      (var(--space-bottom) * 0.64px) +
        (var(--space-bottom) - (var(--space-bottom) * 0.64)) *
        var(--responsive-rate)
    ),
    calc(var(--space-bottom) * 1px)
  );
}
.mb-medium {
  margin-bottom: clamp(
    (var(--space-bottom) * 0.8333px),
    calc(
      (var(--space-bottom) * 0.8333px) +
        (var(--space-bottom) - (var(--space-bottom) * 0.8333)) *
        var(--responsive-rate)
    ),
    calc(var(--space-bottom) * 1px)
  );
}
.w-50-percent {
  width: 50%;
}
.w-44 {
  width: 4.4rem;
}
.w-45 {
  width: 4.5rem;
}
.w-50 {
  width: 5rem;
}
.max-w-100 {
  max-width: 100%;
}
.h-auto {
  height: auto;
}
.h-0 {
  height: 0;
}
.h-2 {
  height: 2px;
}
.h-5 {
  height: 5px;
}
.h-30 {
  height: 3rem;
}
.h-40 {
  height: 4rem;
}
.h-44 {
  height: 4.4rem;
}
.h-45 {
  height: 4.5rem;
}
.h-50 {
  height: 5rem;
}
.h-content {
  height: fit-content;
}
.h-100vh {
  height: 100vh;
}
.drawer-spacing {
  padding: var(--padding-block, 2rem) var(--bs-gutter-x);
}
.drawer__header {
  --padding-block: 1.65rem;
}
@media (min-width: 1025px) {
  .drawer__header {
    --padding-block-desktop: 1.9rem;
  }
  .drawer-spacing {
    padding: var(--padding-block-desktop, 3rem)
      var(--padding-inline-desktop, 4rem);
  }
}
.p-5 {
  padding: 0.5rem;
}
.p-10 {
  padding: 1rem;
}
.p-15 {
  padding: 1.5rem;
}
.p-20 {
  padding: 2rem;
}
.p-gutter-x {
  padding: var(--bs-gutter-x);
}
.p-30 {
  padding: 3rem;
}
.pb-8 {
  padding-bottom: 8px;
}

.pb-10 {
  padding-bottom: 1rem;
}
.pb-15 {
  padding-bottom: 1.5rem;
}
.pb-25 {
  padding-bottom: 2.5rem;
}
.px-5 {
  padding-left: 5px;
  padding-right: 5px;
}
.px-gutter-x {
  padding-inline: var(--bs-gutter-x);
}
.ps-0 {
  padding-inline-start: 0;
}
.ps-5 {
  padding-inline-start: 5px;
}
.ps-18 {
  padding-inline-start: 1.8rem;
}
.ps-30 {
  padding-inline-start: 3rem;
}
.ps-50 {
  padding-inline-start: 5rem;
}
.ps-35 {
  padding-inline-start: 3.5rem;
}
.pe-18 {
  padding-inline-end: 18px;
}
.pe-5 {
  padding-inline-end: 5px;
}
.pe-50 {
  padding-inline-end: 5rem;
}
.pe-30 {
  padding-inline-end: 3rem;
}
.px-0 {
  padding-inline: 0;
}
.px-10 {
  padding-inline: 1rem;
}

.px-25 {
  padding-inline: 2.5rem;
}
.px-30 {
  padding-inline: 3rem;
}
.py-5 {
  padding-block: 0.5rem;
}
.py-6 {
  padding-block: 0.6rem;
}
.py-8 {
  padding-block: 0.8rem;
}
.py-10 {
  padding-block: 1rem;
}
.py-12 {
  padding-block: 1.2rem;
}
.py-17 {
  padding-block: 1.7rem;
}
.py-18 {
  padding-block: 1.8rem;
}
.py-30 {
  padding-block: 3rem;
}
.py-40 {
  padding-block: 4rem;
}
.py-50 {
  padding-block: clamp(3rem, 3vw, 5rem);
}
.pt-5 {
  padding-top: 5px;
}
.pt-12 {
  padding-top: 1.2rem;
}
.pt-17 {
  padding-top: 1.7rem;
}
.pt-30 {
  padding-top: 3rem;
}
.pt-33 {
  padding-top: 3.3rem;
}
.pt-40 {
  padding-top: 4rem;
}
.pt-6 {
  padding-top: 0.6rem;
}
.pt-15 {
  padding-top: 1.5rem;
}
.pt-22 {
  padding-top: 2.2rem;
}
.pt-28 {
  padding-top: 2.8rem;
}
.py-50 {
  padding-top: clamp(3.5rem, 4vw, 5rem);
}
.pt-55 {
  padding-top: clamp(3.5rem, 4.3vw, 5.5rem);
}
.pt-60 {
  padding-top: clamp(4rem, 4.5vw, 6rem);
}
.pb-0 {
  padding-bottom: 0;
}
.pb-5 {
  padding-bottom: 5px;
}
.py-13 {
  padding-top: 1.3rem;
  padding-bottom: 1.3rem;
}
.pb-20 {
  padding-bottom: 2rem;
}
.pb-30 {
  padding-bottom: 3rem;
}
.ms-3 {
  margin-inline-start: 3px;
}
.ms-8 {
  margin-inline-start: 8px;
}
.ms-20 {
  margin-inline-start: 2rem;
}
.m-auto {
  margin: auto;
}
.my-auto {
  margin-block: auto;
}
.my-5 {
  margin-top: 5px;
  margin-bottom: 5px;
}
.my-30 {
  margin-top: 3rem;
  margin-bottom: 3rem;
}
.mt-0 {
  margin-top: 0;
}
.mt-3 {
  margin-top: 3px;
}
.mt-5 {
  margin-top: 5px;
}
.mt-6 {
  margin-top: 6px;
}
.mt-17 {
  margin-top: 1.7rem;
}
.mt-25 {
  margin-top: 2.5rem;
}
.mb-8 {
  margin-bottom: 8px;
}
.mb-13 {
  margin-bottom: 1.3rem;
}
.mb-24 {
  margin-bottom: 2.4rem;
}
.mx-5 {
  margin-left: 5px;
  margin-right: 5px;
}
.mx-8 {
  margin-left: 8px;
  margin-right: 8px;
}
.mx-0 {
  margin-inline: 0;
}
.ms-auto {
  margin-inline-start: auto;
}
.me-auto {
  margin-inline-end: auto;
}
.me-3 {
  margin-inline-end: 3px;
}
.my-0 {
  margin-top: 0;
  margin-bottom: 0;
}
.my-15 {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}
.my-20 {
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.mt-8 {
  margin-top: 0.8rem;
}
.mt-12 {
  margin-top: 1.2rem;
}
.mt-22 {
  margin-top: 2.2rem;
}
.mt-25 {
  margin-top: 2.5rem;
}
.mt-45 {
  margin-top: clamp(3rem, 4vw, 4.5rem);
}
.mt-60,
.shopify-challenge__container {
  margin-top: clamp(4rem, 4.5vw, 6rem);
}
.pb-custom {
  padding-bottom: calc(var(--space-bottom) * 1px);
}
.mb-0 {
  margin-bottom: 0;
}
.mb-2 {
  margin-bottom: 2px;
}
.mb-3 {
  margin-bottom: 3px;
}
.mb-12 {
  margin-bottom: 1.2rem;
}
.mb-22 {
  margin-bottom: 2.2rem;
}
.mb-20 {
  margin-bottom: 2rem;
}
.mb-23 {
  margin-bottom: 2.3rem;
}
.mb-30 {
  margin-bottom: 3rem;
}
.mb-33 {
  margin-bottom: 3.3rem;
}
.mb-50 {
  margin-bottom: 5rem;
}
.mb-60 {
  margin-bottom: clamp(4rem, 4.5vw, 6rem);
}
.ms-5 {
  margin-inline-start: 5px;
}
.ms-15 {
  margin-inline-start: 1.5rem;
}
.me-5 {
  margin-inline-end: 5px;
}
.me-8 {
  margin-inline-end: 8px;
}
.me-20 {
  margin-inline-end: 2rem;
}
.min-h-55 {
  min-height: 55px;
}

:where(.border-inline-start) {
  border-inline-start: 1px solid var(--color-border);
}
:where(.border-inline-end) {
  border-inline-end: 1px solid var(--color-border);
}
.border-bottom-dashed {
  border-bottom: 1px dashed var(--color-border);
}
.normal-case {
  text-transform: none;
}
.static {
  position: static;
}
.static-impo {
  position: static !important;
}
.fixed {
  position: fixed;
}
.sticky {
  position: sticky;
}
.inset-x-20 {
  left: 2rem;
  right: 2rem;
}
.inset-y-0 {
  top: 0;
  bottom: 0;
}
.top-3 {
  top: 3px;
}
.top-10 {
  top: 1rem;
}
.top-100 {
  top: 100%;
}
.right-28 {
  right: 2.8rem;
}
.right-30 {
  right: 3rem;
}
.bottom-0 {
  bottom: 0;
}
.bottom-10 {
  bottom: 1rem;
}
.bottom-20 {
  bottom: 2rem;
}
.bottom-30 {
  bottom: 3rem;
}
.left-5 {
  left: 5px;
}
.left-7 {
  left: 7px;
}
.left-20 {
  left: 2rem;
}
.left-30 {
  left: 3rem;
}
.left-45 {
  left: 4.5rem;
}
.left-50 {
  left: 5rem;
}
.left-10 {
  left: 1rem;
}
.left-100 {
  left: 100%;
}
.right-5 {
  right: 0.5rem;
}
.right-7 {
  right: 0.7rem;
}
.right-10 {
  right: 1rem;
}
.right-20 {
  right: 2rem;
}
.z--1 {
  z-index: -1;
}
.z-0 {
  z-index: 0;
}
.z-1 {
  z-index: 1;
}
.z-3 {
  z-index: 3;
}
.z-5 {
  z-index: 5;
}
.z-9 {
  z-index: 9;
}
.z-15 {
  z-index: 15;
}
.z-16 {
  z-index: 16;
}
.z-20 {
  z-index: 20;
}
.z-auto {
  z-index: auto;
}
.align-self-baseline {
  align-self: baseline;
}
.align-self-start {
  align-self: start;
}
.align-self-center {
  align-self: center;
}
.align-self-end {
  align-self: end;
}
.gap-0 {
  gap: 0;
}
.gap-custom {
  gap: calc(var(--gap, 15) * 1px);
}
.gap-custom-big {
  gap: clamp(
    1.5rem,
    calc(
      (var(--gap) * 0.64px) + (var(--gap) - (var(--gap) * 0.64)) *
        var(--responsive-rate)
    ),
    calc(var(--gap) * 1px)
  );
}

.row-gap-5 {
  row-gap: 5px;
}
.row-gap-custom {
  row-gap: var(--row-gap, 0);
}
.row-gap-20 {
  row-gap: 2rem;
}
.row-gap-30 {
  row-gap: 3rem;
}
.rounded-0 {
  border-radius: 0;
}
.top-rounded {
  border-radius: var(--img-rounded) var(--img-rounded) 0 0;
}
.lh-1 {
  line-height: 1;
}
.lh-small {
  line-height: 1.5;
}
.text-right {
  text-align: end;
}
.fs-responsive {
  font-size: clamp(var(--fs-min), 3vw, var(--fs-max));
}
.fs-base {
  font-size: var(--body-font-size);
}
:is(.active, .open).visible {
  opacity: 1;
  visibility: visible;
}
.transform-none {
  transform: none !important;
}
.overflow-x-hidden {
  overflow-x: hidden;
}
.overflow-y-auto {
  overflow-y: auto;
}
.border-animation:is(:hover, .active),
.hover-effect:hover .border-animation {
  background-size: 100% var(--height, 1px);
  background-position: left bottom;
}
.show-overlay:after {
  content: "";
  background: var(--show-overlay-bg, rgba(255, 255, 255, 0.9));
  opacity: 0;
  position: fixed;
  transition: var(--transition);
  visibility: hidden;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  z-index: 2;
  cursor: pointer;
}
.show-overlay.active:after {
  opacity: 1;
  visibility: visible;
}
.open-modal {
  overflow: hidden;
}
:where(.modal-inner:not(.draw-mb)) {
  transform: translateY(100%);
  -webkit-transform: translateY(100%);
  will-change: transform;
  bottom: 0;
  max-height: calc(100vh - 60px);
  top: auto;
  --transition: 0.3s;
}
:where(.drawer-left-mb) {
  transform: translateX(-100%);
}
.drawer-right-mb {
  transform: translateX(100%);
}
.drawer-bottom {
  transform: translateY(100%);
}
.drawer {
  --delay: 0.05s;
}
@media (min-width: 576px) {
  .modal-inner,
  .draw-mb {
    max-width: var(--drawer-width, 48rem);
  }
  .rounded-start,
  .draw-mb {
    border-top-left-radius: var(--img-rounded);
    border-bottom-left-radius: var(--img-rounded);
  }
}
@media (min-width: 1025px) {
  .modal-inner {
    transform: translateX(var(--slide-out, -100%)) translateY(0);
    -webkit-transform: translateX(var(--slide-out, -100%)) translateY(0);
    top: 0;
    max-height: 100vh;
  }
  :where(.drawer-left) {
    --slide-out: -100%;
    border-top-right-radius: var(--img-rounded);
    border-bottom-right-radius: var(--img-rounded);
  }
  .drawer-right {
    --slide-out: 100%;
    border-top-left-radius: var(--img-rounded);
    border-bottom-left-radius: var(--img-rounded);
  }
  .drawer-top {
    transform: translateX(0) translateY(-100%);
    -webkit-transform: translateX(0) translateY(-100%);
    max-width: unset;
    border-radius: 0;
  }
}
@media (max-width: 1024.89px) {
  .btn-close-model {
    transform: translateY(calc(-100% + 60px));
    -webkit-transform: translateY(calc(-100% + 60px));
  }
}
.modal-overlay {
  background: #0006;
  min-height: 100lvh;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 10;
  pointer-events: none;
}
.active .modal-overlay,
.modal.active .modal-inner,
.open.drawer-bottom {
  pointer-events: auto;
  opacity: 1;
  visibility: visible;
  transform: translateX(0) translateY(0);
}
.modal.active .btn-close-model {
  opacity: 1;
  visibility: visible;
  transform: translateY(calc(-100% - 10px));
  -webkit-transform: translateY(calc(-100% - 10px));
  transition-delay: 0.25s;
}
modal-popup :is(.modal-overlay) {
  z-index: 15;
}
.modal-popup-inner .drawer__body > *,
.animate-motion .slideIn-animate {
  opacity: 0;
  transform: translateY(2rem);
  will-change: transform, opacity;
  --transition: 0.35s;
  --timing-function: cubic-bezier(0.5, -0.03, 0.34, 0.83);
}
.modal.active .modal-popup-inner .drawer__body > *:not(.model_media, .spin),
:is(.animate-motion.detail-open, .animate-motion.active) .slideIn-animate {
  animation: slideIn var(--transition)
    var(--timing-function, cubic-bezier(0.5, -0.03, 0.34, 0.83)) forwards;
  animation-delay: var(--delay, 0s);
}
.details-header-menu[open]:not(.detail-open) .slideIn-animate {
  animation: slideOut var(--transition)
    var(--timing-function, cubic-bezier(0.5, -0.03, 0.34, 0.83)) forwards;
}
.modal-popup-inner {
  transform: scale(0.8);
  max-height: 80vh;
  transition: 0.2s;
}
.modal.active .modal-popup-inner {
  transform: scale(1);
  opacity: 1;
  visibility: visible;
}
.remove-after:not(.active) .modal-popup-inner {
  animation: zoomOut var(--transition)
    var(--timing-function, cubic-bezier(0.5, -0.03, 0.34, 0.83)) forwards;
}
.remove-after:not(.active) .modal-inner .shopify-block,
.remove-after:not(.active)
  .modal-popup-inner
  .drawer__body
  > *:not(.model_media, .spin) {
  animation: slideOut var(--transition)
    var(--timing-function, cubic-bezier(0.5, -0.03, 0.34, 0.83)) forwards;
}
.active-show {
  transform: translateY(2rem);
}
.active > .active-show {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
  pointer-events: auto;
}
@keyframes slideIn {
  0% {
    opacity: 0;
    transform: translateY(15px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes slideOut {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    transform: translateY(15px);
    opacity: 0;
  }
}
@keyframes slideOutRight {
  0% {
    opacity: 1;
    transform: translateX(0);
  }
  100% {
    transform: translateX(100%);
    opacity: 0;
  }
}
@keyframes zoomOut {
  0% {
    transform: scale(1);
    opacity: 1;
    visibility: visible;
  }
  100% {
    transform: scale(0.8);
    opacity: 0;
    visibility: hidden;
  }
}
@media (min-width: 576px) {
  .block-sm {
    display: block;
  }
  .flex-sm-0 {
    flex: 1;
  }
  .grid-sm {
    display: grid;
  }
  .hidden-sm {
    display: none;
  }
  .absolute-sm {
    position: absolute;
  }
  .static-sm {
    position: static;
  }
  .relative-sm {
    position: relative;
  }
  .px-sm-15 {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
  .px-sm-30 {
    padding-left: 3rem;
    padding-right: 3rem;
  }
  .pe-sm-30 {
    padding-inline-end: 3rem;
  }
  .left-sm-15 {
    left: 1.5rem;
  }
  .right-sm-15 {
    right: 1.5rem;
  }
  .top-sm-15 {
    top: 1.5rem;
  }
  .mt-sm-15 {
    margin-top: 1.5rem;
  }
  .gap-sm-30 {
    gap: 3rem;
  }
  :where(.justify-sm-center, .justify-content-sm-center) {
    justify-content: center;
  }
  .w-sm-44 {
    width: 4.4rem;
  }
  .col-sm-w-custom {
    flex: 0 0 auto;
    width: var(--col-width, 50%);
  }
  .col-sm-remaining {
    flex: 0 0
      calc(100% - var(--col-width, 50%) - var(--gap-desktop, var(--gap)));
    width: calc(100% - var(--col-width, 50%) - var(--gap-desktop, var(--gap)));
  }
  :where(.border-sm-inline-end) {
    border-inline-end: 1px solid var(--color-border);
  }
}

@media (min-width: 768px) {
  .flex-md-1 {
    flex: 1;
  }
  .flex-md-wrap {
    flex-wrap: wrap;
  }
  .flex-md-nowrap {
    flex-wrap: nowrap;
  }
  .inline-block-md {
    display: inline-block;
  }
  .row-gap-md-30 {
    row-gap: 3rem;
  }
  .grid-md {
    display: grid;
  }
  .absolute-md {
    position: absolute;
  }
  .absolute-md-impo {
    position: absolute !important;
  }
  .relative-md {
    position: relative;
  }
  .static-md-impo {
    position: static !important;
  }
  .fixed-md {
    position: fixed;
  }
  .invisible-md {
    overflow: hidden;
    visibility: hidden;
  }
  .transform-md-none {
    transform: none !important;
  }
  .md-column {
    flex-direction: column;
  }
  .flex-md-row {
    flex-direction: row;
  }
  .flex-md-wrap {
    flex-wrap: wrap;
  }
  .text-md-left {
    text-align: start;
  }
  .text-md-center {
    text-align: center;
  }
  .text-md-right {
    text-align: end;
  }
  .text-md-start {
    text-align: start;
  }
  .mx-md-auto {
    margin-left: auto;
    margin-right: auto;
  }
  .ms-md-auto {
    margin-inline-start: auto;
  }
  .mb-md-0 {
    margin-bottom: 0;
  }
  .mb-md-5 {
    margin-bottom: 0.5rem;
  }
  .mb-md-40 {
    margin-bottom: 4rem;
  }
  .ms-md-20 {
    margin-inline-start: 2rem;
  }
  .me-md-10 {
    margin-inline-end: 1rem;
  }
  .py-md-0 {
    padding-top: 0;
    padding-bottom: 0;
  }
  .px-md-0 {
    padding-left: 0;
    padding-right: 0;
  }
  .px-md-20 {
    padding-left: 2rem;
    padding-right: 2rem;
  }
  .px-md-30 {
    padding-left: 3rem;
    padding-right: 3rem;
  }
  .pe-md-0 {
    padding-inline-end: 0;
  }
  .border-bottom-md-0 {
    border-bottom: 0;
  }
  .justify-md-unset {
    justify-content: unset;
  }
  .justify-md-end {
    justify-content: flex-end;
  }
  .gap-md-20 {
    gap: 2rem;
  }
  :where(.gap-md-30) {
    --gap: 3rem;
    gap: var(--gap);
  }
  .justify-content-inherit {
    justify-content: inherit;
  }
  .text-md-end {
    text-align: end;
  }
  .inset-x-md-30 {
    left: 3rem;
    right: 3rem;
  }
  .left-md-15 {
    left: 1.5rem;
  }
  .right-md-15 {
    right: 1.5rem;
  }
  :where(.border-md-inline-end) {
    border-inline-end: 1px solid var(--color-border);
  }
  .w-md-unset {
    width: unset;
  }
  .pointer-md-none {
    pointer-events: none;
  }
}
@media (min-width: 992px) {
  .gap-lg-20 {
    gap: 2rem;
  }
  :where(.gap-lg-25) {
    gap: 2.5rem;
  }
  .block-lg {
    display: block;
  }
  .flex-lg-1 {
    flex: 1;
  }
  .grid-lg {
    display: grid;
  }
  .hidden-lg {
    display: none;
  }
  .absolute-lg {
    position: absolute;
  }
  .relative-lg {
    position: relative;
  }
}
@media (min-width: 1025px) {
  .static-1025 {
    position: static;
  }
  .fixed-1025 {
    position: fixed;
  }
  .sticky-1025 {
    position: sticky;
  }
  .inline-flex-1025 {
    display: inline-flex;
  }
  .inline-block-1025 {
    display: inline-block;
  }
  .z--1-1025 {
    z-index: -1;
  }
  .z-1025-16 {
    z-index: 16;
  }
  .p-1025-0 {
    padding: 0;
  }
  .p-1025-40 {
    padding: 4rem;
  }
  .p-1025-50 {
    padding: 5rem;
  }
  .pb-1025-0 {
    padding-bottom: 0;
  }
  .py-1025-5 {
    padding-top: 5px;
    padding-bottom: 5px;
  }
  .py-1025-15 {
    padding-top: 15.5px;
    padding-bottom: 15.5px;
  }
  .px-1025-0 {
    padding-left: 0;
    padding-right: 0;
  }
  .px-1025-25 {
    padding-left: 2.5rem;
    padding-right: 2.5rem;
  }
  .py-1025-40 {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }
  .pt-1025-60 {
    padding-top: 6rem;
  }
  .py-1025-60 {
    padding-block: 6rem;
  }
  .pt-1025-0 {
    padding-top: 0;
  }
  .mt-1025-0 {
    margin-top: 0;
  }
  .mt-1025-20 {
    margin-top: 2rem;
  }
  .mt-1025-40 {
    margin-top: 4rem;
  }
  .mt-1025-50 {
    margin-top: 5rem;
  }
  .my-1025-0 {
    margin-top: 0;
    margin-bottom: 0;
  }
  .mb-1025-0 {
    margin-bottom: 0;
  }
  .mb-1025-10 {
    margin-bottom: 1rem;
  }
  .mb-1025-20 {
    margin-bottom: 2rem;
  }
  .mb-1025-25 {
    margin-bottom: 2.5rem;
  }
  .mb-1025-30 {
    margin-bottom: 3rem;
  }
  .flex-1025 {
    display: flex;
  }
  .flex-1025-row {
    flex-direction: row;
  }
  .flex-1025-row-reverse {
    flex-direction: row-reverse;
  }
  .space-between-1025 {
    justify-content: space-between;
  }
  .justify-start-1025 {
    justify-content: start;
  }
  .justify-end-1025 {
    justify-content: end;
  }
  .justify-center-1025 {
    justify-content: center;
  }
  .pointer-none-1025 {
    pointer-events: none;
  }
  .visible-1025 {
    opacity: 1;
    visibility: visible;
  }
  .text-left-1025,
  .text-1025-start {
    text-align: start;
  }
  .top-1025-15 {
    top: 1.5rem;
  }
  .right-1025-15 {
    right: 1.5rem;
  }
  .left-1025-15 {
    left: 1.5rem;
  }
  .bottom-1025-15 {
    bottom: 1.5rem;
  }
  .bottom-1025-30 {
    bottom: 1.5rem;
  }
  .bottom-1025-auto {
    bottom: auto;
  }
  .w-1025-45 {
    width: 4.5rem;
  }
  .h-1025-45 {
    height: 4.5rem;
  }
  .w-1025-auto {
    width: auto;
  }
  .h-1025-auto {
    height: auto;
  }
  .border-1025 {
    border: 1px solid var(--color-border);
  }
  .border-1025-0 {
    border: 0;
  }
  .border-1025-bottom-0 {
    border-bottom: 0;
  }
  .border-top-1025 {
    border-top: 1px solid var(--color-border);
  }
  .bg-secondary-1025 {
    background-color: var(--color-background-2);
  }
  .header:not(.shopify-section-header-sticky)
    .transparent:hover
    .transparent-logo {
    display: none;
  }
  .header:not(.shopify-section-header-sticky) .transparent:hover .logo-normal {
    display: block;
  }
  .max-w-1025 {
    max-width: var(--max-width);
  }
  .w-full-1025 {
    width: 100%;
  }
  .model_media {
    transition: transform 0.5s cubic-bezier(0.25, 0.46, 0.4, 1), all 0.5s,
      opacity 0.5s 0.2s;
    transform: none;
    border-radius: 20px 0 0 20px;
  }
  .model_media.open {
    transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }
}
@media (min-width: 1200px) {
  .static-xl {
    position: static;
  }
  .relative-xl {
    position: relative;
  }
  .static-xl-impo {
    position: static !important;
  }
  .block-xl {
    display: block;
  }
  .grid-xl {
    display: grid;
  }
  .flex-xl {
    display: flex;
  }
  .flex-xl-nowrap {
    flex-wrap: nowrap;
  }
  .text-xl-start {
    text-align: start;
  }
  .gap-xl-25 {
    gap: 2.5rem;
  }
  .gap-xl-30 {
    gap: 3rem;
  }
  .gap-xl-50 {
    gap: clamp(1.5rem, 2vw, 5rem);
  }
  .gap-xl-60 {
    gap: 6rem;
  }
  .transform-xl-none {
    transform: none !important;
  }
  .px-xl-0 {
    padding-left: 0;
    padding-right: 0;
  }
  .pe-xl-25 {
    padding-inline-end: 2.5rem;
  }
  .space-between-xl {
    justify-content: space-between;
  }
}
.bg-transparent {
  background: transparent !important;
}
.transition-short {
  transition: all var(--duration-short);
  -webkit-transition: all var(--duration-short);
}
.transition {
  transition: var(--transition);
  -webkit-transition: var(--transition);
}
.transition-drawer {
  transition: var(--transition-drawer);
  -webkit-transition: var(--transition-drawer);
}
.pe-44 {
  padding-inline-end: 4.4rem;
}
.top-12 {
  top: 1.2rem;
}
.top-20 {
  top: 2rem;
}
:is(.custom-scrollbar, .dlg .dlg-message)::-webkit-scrollbar {
  width: 4px;
}
:is(.custom-scrollbar, .dlg .dlg-message)::-webkit-scrollbar-track {
  background: var(--color-border);
}
:is(.custom-scrollbar, .dlg .dlg-message)::-webkit-scrollbar-thumb {
  background: #c8c8c8;
}
:is(.custom-scrollbar, .dlg .dlg-message)::-webkit-scrollbar-thumb:hover {
  background: #555;
  width: 6px;
}

/* Hover */
@media (min-width: 1025px) and (pointer: fine) and (prefers-reduced-motion: no-preference) {
  .will-change {
    will-change: transform;
  }
  :where(a:hover) {
    color: var(--color-heading);
  }
  :where(
      .btn,
      .btn-hover,
      .shopify-payment-button__button--unbranded,
      body .jdgm-write-rev-link,
      body .jdgm-write-rev-link.jdgm-write-rev-link,
      input.jdgm-btn.jdgm-btn--solid.jdgm-submit-rev
    ):hover,
  .collection-list__content-inner:hover .btn-hover {
    --btn-color: var(--btn-primary-hover-color);
    color: var(--btn-color);
  }
  :where(.btn-outline):hover {
    --btn-color: var(--btn-primary-color);
  }
  .btn-text {
    transition: color 0.5s cubic-bezier(0.3, 1, 0.3, 1);
    transition-delay: 0.1s;
  }
  :where(.btn-outline):after {
    background-color: var(--btn-primary-bg-color);
  }
  :where(
      .btn,
      .btn-hover,
      .shopify-payment-button__button--unbranded,
      body .jdgm-write-rev-link,
      body .jdgm-write-rev-link.jdgm-write-rev-link,
      input.jdgm-btn.jdgm-btn--solid.jdgm-submit-rev
    ):hover::after,
  .collection-list__content-inner:hover .btn-hover:after {
    transform: rotate3d(0, 0, 1, 0) translateZ(0);
  }
  .smooth-padding-hover:hover {
    padding-inline-start: 1rem;
  }
  .inside-out-effect:before {
    content: "";
    position: absolute;
    width: 0%;
    height: 1px;
    bottom: 6px;
    left: 50%;
    background-color: currentColor;
    transition: width 0.3s ease, left 0.3s ease;
  }
  .inside-out-effect:hover:before,
  .inside-out-hover:hover .inside-out-effect:before {
    width: 100%;
    left: 0;
  }
  .hover-effect :is(img, .img-placeholder, picture) {
    transition: 0.5s cubic-bezier(0.2, 0.75, 0.5, 1);
    will-change: transform;
  }
  .hover_zoom .hover-effect:hover :is(img, .img-placeholder, picture),
  .button-hover-zoom:hover {
    transform: var(--zoom-transform, scale(1.06));
  }
  .hover_fade .hover-effect:hover :is(img, .img-placeholder, picture) {
    opacity: 0.8;
  }
  .hover_fade .hover-effect:hover .secondary-image {
    opacity: 1;
  }
  /* Navigation desktop */
  .submenu {
    top: 100%;
  }
  .down-to-up {
    transform: translateY(1.5rem);
  }
  .show-on-hover {
    transform: translateX(var(--transform-x, 0));
    will-change: transform;
  }
  .media-gallery__image .show-on-hover {
    transform: scale(0.8);
  }
  .hover-action:hover .show-on-hover {
    opacity: 1;
    visibility: visible;
    transform: translateX(0) scale(1);
  }
  .hover-icon-zoom:hover .icon-zoom {
    transform: scale(1.1);
    color: var(--color-heading);
  }
  .blur:hover {
    --opacity: 1;
  }
  .tooltip-content {
    background: var(--color-dark);
    color: rgb(var(--color-white));
    line-height: 1;
    max-width: 360px;
    z-index: 2;
    text-align: center;
    font-size: 1.2rem;
    white-space: nowrap;
    transition: all 0.3s;
    will-change: transform;
    padding: 7px 15px;
    transform: var(--tooltip-transform, translateY(-100%) translateX(-50%));
    left: var(--left, 50%);
    right: var(--right, auto);
    top: var(--top, 0);
  }
  .tooltip-content:before {
    border: 5px solid transparent;
    content: "";
    height: 0;
    width: 0;
    top: var(--tooltip-y, 100%);
    bottom: var(--tooltip-bottom, auto);
    margin-left: 0;
    -webkit-transform: var(--tooltip-before, translateX(-50%) translateZ(0));
    transform: var(--tooltip-before, translateX(-50%) translateZ(0));
    transform-origin: 0;
    border-top-color: var(--color-dark);
    position: absolute;
    left: var(--tooltip-left, 50%);
    right: var(--tooltip-right, auto);
  }
  .tooltip:not(.open):hover .tooltip-content {
    opacity: 1;
    visibility: visible;
    transform: var(
      --tooltip-hover-transform,
      translateY(calc(-100% - 10px)) translateX(-50%)
    );
  }
  .tooltip-left {
    --tooltip-transform: translateY(-50%);
    --left: auto;
    --right: 100%;
    --top: 50%;
    --tooltip-hover-transform: translateX(-10px) translateY(-50%);
    --tooltip-left: 100%;
    --tooltip-y: 50%;
    --tooltip-before: rotate(-90deg) translateY(50%);
  }
  .tooltip-right {
    --tooltip-transform: translateY(-50%);
    --left: 100%;
    --top: 50%;
    --tooltip-hover-transform: translateX(10px) translateY(-50%);
    --tooltip-left: auto;
    --tooltip-right: 100%;
    --tooltip-y: 12%;
    --tooltip-before: rotate(90deg) translateY(-50%);
  }
  .tooltip-bottom {
    --tooltip-transform: translateY(100%) translateX(-50%);
    --top: auto;
    bottom: 0;
    --tooltip-hover-transform: translateY(calc(100% + 10px)) translateX(-50%);
    --tooltip-y: auto;
    --tooltip-bottom: 100%;
  }
  .tooltip-bottom::before {
    border-bottom-color: var(--color-dark);
    border-top-color: transparent;
  }
  .collection-list__content-inner:hover .collection-list__icon {
    transform: rotate(45deg);
  }
}
/* Open detail */

:where(.icon-load) {
  top: 50%;
  left: 50%;
  margin-top: calc(var(--loader-width, 1.4rem) / 2 * -1);
  margin-inline-start: calc(var(--loader-width, 1.4rem) / 2 * -1);
}
.icon-rotator {
  border: 2px solid var(--color-dark);
  border-left-color: transparent;
  animation: loading 0.5s cubic-bezier(0.42, 0, 0.74, 1) infinite;
  background: var(--color-background-2);
}
@keyframes loading {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
:where(
    .btn-primary,
    .btn-outline,
    .btn,
    button-quickview,
    .cart-item,
    .search-modal__form
  ).loading
  .hidden-on-load {
  opacity: 0;
  transition: unset;
}
:where(
    .btn-primary,
    .btn-outline,
    .btn,
    button-quickview,
    .search-modal__form
  ).loading
  > .icon-load,
.loading_snippet.loading .icon-rotator {
  opacity: 1;
}
@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
  }
}
.spin {
  -webkit-animation: 0.8s linear infinite spin;
  animation: 0.8s linear infinite spin;
}
@media screen and (max-width: 767.98px) {
  .collapsible-row__content:not(.filter-content) {
    height: 0;
  }
  .footer .back-to-top {
    bottom: 7.5rem;
  }
  .footer_bottom-inner {
    border-top: 0;
  }
  .w-custom-mb {
    width: var(--width-mb);
  }
}
.icon-rotate {
  transform-origin: center 3px;
}
:is(
    .detail-open > summary .icon-rotate,
    .details-normal[open] > summary .icon-rotate,
    .button-localization.opened > .icon-rotate,
    .active > .rotate-animate .icon-rotate
  ) {
  transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
}
.header__menu {
  --transition: opacity 0.3s, visibility 0.3s, transform 0.3s,
    -webkit-transform 0.3s;
}
.submenu-desktop {
  max-height: 90vh;
}
.col-mega {
  flex: 0 0 auto;
  width: var(--col-mega-width);
}
.classic {
  min-width: 23rem;
}
:is(.detail-open) .submenu[open],
.classic .have-child:hover .sub-children-menu {
  transform: translate3d(0, 0, 0);
  -webkit-transform: translate3d(0, 0, 0);
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}
@keyframes fadeIn {
  from {
    opacity: 0;
    visibility: hidden;
  }
  to {
    opacity: 1;
    visibility: visible;
  }
}
.fadeIn {
  animation: fadeIn var(--duration, 0.6s) forwards;
}
/* Product */
.product__badges-sale:after {
  position: absolute;
  content: "";
  opacity: 0;
  top: 0;
  z-index: 1;
  background: linear-gradient(
    to right,
    #fff0,
    #ffffff08 1%,
    #fff9 30%,
    #ffffffd9 50% 70%,
    #ffffffd9 71%,
    #fff0
  );
  width: 40%;
  height: 100%;
  transform: skew(-10deg);
  animation: move 2s infinite;
  animation-delay: 1s;
}
@keyframes move {
  0% {
    left: 0;
    opacity: 0;
  }

  5% {
    opacity: 0;
  }

  48% {
    opacity: 0.2;
  }

  80% {
    opacity: 0;
  }

  100% {
    left: 100%;
  }
}
.button-localization .icon-down {
  margin-inline-start: 10px;
}
@media (min-width: 1025px) {
  .disclosure__list-wrapper icon-close {
    display: none;
  }
  .disclosure__list-wrapper {
    min-width: 25rem;
  }
  header .disclosure__list-wrapper {
    top: calc(100% + 4rem);
    left: auto;
    right: 0;
  }
  header .button-localization.opened + .disclosure__list-wrapper {
    top: calc(100% + 1rem);
  }
  .disclosure__footer .disclosure__list-wrapper {
    bottom: calc(100%);
  }
  .disclosure__footer .button-localization.opened + .disclosure__list-wrapper {
    bottom: calc(100% + 1rem);
  }
  .button-localization .icon-down {
    margin-inline-start: 5px;
  }
}
.disclosure__list-wrapper icon-close {
  top: -6.5rem;
}
@media (max-width: 1024.98px) {
  .disclosure__footer .disclosure__list-wrapper {
    width: 100%;
    position: fixed;
    left: 0;
    bottom: -3rem;
    border-radius: var(--img-rounded) var(--img-rounded) 0 0;
  }
  .disclosure__footer .opened.show-overlay:after {
    opacity: 1;
    visibility: visible;
  }
  .disclosure__footer .button-localization.opened + .disclosure__list-wrapper {
    bottom: 0;
  }
}
.button-localization.opened + .disclosure__list-wrapper {
  opacity: 1;
  visibility: visible;
}
.disclosure__list {
  max-height: 50vh;
}
.back-to-top {
  transform: scale(0);
}
.back-to-top.show {
  transform: scale(1);
  opacity: 1;
  visibility: visible;
}
.height-scroll {
  height: var(--scroll-percentage);
}
.mix-blend {
  mix-blend-mode: difference;
}
.footer__block-note a,
.footer__block-info a {
  font-weight: var(--heading-weight);
  color: var(--color-heading);
  text-decoration: underline;
}
.success,
.warning,
.error {
  padding: var(--mes-padding-block, 1.2rem) 2rem;
  position: relative;
  font-size: 1.4rem;
  color: var(--color);
  background-color: var(--background);
  border: 1px solid var(--border-color);
  border-radius: var(--btn-radius);
  gap: 0.5rem;
  font-weight: var(--subheading_weight, 500);
}
.success,
.message-success {
  --color: #137f24;
  --border-color: #b4deb0;
  --background: #dcf0d8;
  --color-link: var(--color-success);
}
.error,
.message-error {
  --color: #cd3b32;
  --border-color: #eac9c9;
  --background: #fcf3f3;
  --color-link: var(--color-error);
}
.warning,
.message-warning {
  --color: #8b682d;
  --border-color: #e9d7b8;
  --background: #fff2de;
  --color-link: var(--color-warning);
}
.notification {
  position: fixed;
  inset-inline-end: 3rem;
  inset-block-start: 3rem;
  z-index: 25;
  display: inline-flex;
  align-items: center;
}
.notification:not(.show) {
  animation: slideOutRight 0.3s forwards;
}
.icon_plus-animation::before,
.icon_plus-animation::after {
  position: absolute;
  content: "";
  top: 50%;
  left: calc(100% - 7px);
  -webkit-transform: translate(-50%, -50%) rotate(-90deg);
  transform: translate(-50%, -50%) rotate(-90deg);
  background-color: currentColor;
  transition: var(--transition);
}
.icon_plus-animation:before {
  width: var(--icon-width, 13px);
  height: var(--icon-height, 1px);
}
.icon_plus-animation:after {
  width: var(--icon-height, 1px);
  height: var(--icon-width, 13px);
}

:is(.detail-open, cart-gift-wrap-element.open) .icon_plus-animation:before {
  opacity: 0;
  -webkit-transform: translate(-50%, -50%) rotate(90deg);
  transform: translate(-50%, -50%) rotate(90deg);
}
@media screen and (min-width: 1025px) {
  .rounded-1025-left,
  .rtl .rounded-1025-right {
    border-top-left-radius: var(--img-rounded);
    border-bottom-left-radius: var(--img-rounded);
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
  .rounded-1025-right,
  .rtl .rounded-1025-left {
    border-top-right-radius: var(--img-rounded);
    border-bottom-right-radius: var(--img-rounded);
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
}
@media screen and (max-width: 1025px) {
  .rounded-top-mb {
    border-top-left-radius: var(--img-rounded);
    border-top-right-radius: var(--img-rounded);
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }
  .rounded-bottom-mb {
    border-bottom-left-radius: var(--img-rounded);
    border-bottom-right-radius: var(--img-rounded);
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
}
@media (min-width: 1025px) {
  .image-with-text__container {
    padding-inline: 3rem;
  }
}
@media (max-width: 1024.98px) {
  .image-with-text__container {
    padding-top: 2rem;
  }
}
.cursor-custom-slide .swiper-arrow {
  width: 50%;
  height: 100%;
  top: 2.5rem;
  background-color: transparent;
  border-radius: 0;
  z-index: 3;
}
.cursor-custom-slide .swiper-arrow.swiper-button-prev {
  cursor: url(btn-prev.svg) 16 16, pointer;
}
.cursor-custom-slide .swiper-arrow.swiper-button-next {
  cursor: url(btn-next.svg) 16 16, pointer;
}
/* Process in cart */
mini-cart-recommendations .quick__shop-action {
  left: auto;
}
mini-cart-recommendations .btn__quick-shop {
  --btn-padding-y: 0;
  --btn-padding-x: 0;
  width: 44px;
  height: 44px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
mini-cart-recommendations .product-quickview-btn {
  display: none;
}
mini-cart-recommendations .hidden-1025 {
  display: block;
}
.progress {
  background-color: #14854e;
  animation: 2s linear infinite progress;
  -webkit-background-image: linear-gradient(
    135deg,
    #ffffff26 0 25%,
    #fff0 25% 50%,
    #ffffff26 50% 75%,
    #fff0 75% 100%
  );
  background-image: linear-gradient(
    135deg,
    #ffffff26 0 25%,
    #fff0 25% 50%,
    #ffffff26 50% 75%,
    #fff0 75% 100%
  );
  background-size: 40px 40px;
}

@keyframes progress {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 60px 60px;
  }
}
@media (max-width: 1024.98px) {
  cart-items {
    padding-top: 5px;
  }
  .mini-cart .product__inner {
    position: static;
  }
  .mini-cart .product-item__inner {
    padding: 1.5rem 6.5rem 1.5rem 1.5rem;
    background-color: var(--color-background-2);
    border-radius: var(--img-rounded);
  }
  .mini-cart .product__information {
    margin-top: 0;
  }
  .mini-cart .quick__shop-action {
    left: auto;
    top: 0;
    bottom: 0;
    display: inline-flex;
    align-items: center;
    overflow: visible;
  }
  .drawer__cart-recommendations {
    padding-top: 0;
    padding-bottom: var(--bs-gutter-x);
  }
  .cart-recommendations-title {
    font-size: 1.8rem;
  }
}
html:not(.open-nav, .open-canvas)
  :is(mobile-navigation-bar) {
}
@media (min-width: 1025px) {
  mini-cart-recommendations .product__information {
    text-align: center;
  }
  mini-cart-recommendations .card-product-price {
    justify-content: center;
    line-height: normal;
  }
  cart-drawer .modal-inner {
    border-radius: 0;
  }
}
html:not(.open-nav, .open-canvas) mobile-navigation-bar {
  z-index: 12;
}
.results .recommend-search {
  display: none;
}
.search-modal__form:not(.results) .predictive-search {
  display: none;
}
